body{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    margin-top: 100px;
    width: 640px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: certer;
    background-color:  hsl(0, 100%, 74%) ;
}

.c1{
    margin-right: 70px;
}

@media screen and (max-width: 768px) {
    .container{
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: certer;
        background-color:  hsl(0, 100%, 74%) ;
    }
    
  }

